
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% block title %}
    {% if title %}
       {{ title }}
    {% else %}
       NetTools
    {% endif %}
{% endblock %}
<body>
  {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
      </div>
      {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</body>
</html>
