<!doctype HTML>
<html>
{% block title %}
    {% if title %}
       {{ title }}
    {% else %}
       NetTools
    {% endif %}
{% endblock %}
{% block styles %}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}
<body>
  {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
      </div>
      {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</body>
</html>
