<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
  <h1>Find a User</h1>
  <form action="" method="post" class="form-inline">
    {{ form.hidden_tag() }}
    <div class='form-group'>
      <label for="ip_addr" class='col-sm-2 control-label'>IP Address:{{ form.ip_addr(size=20) }}<input type="submit" value="Submit"></label>
    </div>
    <div class='form-group'>
      <label for='computername' class='col-sm-2 control-label'>Computer Name:{{ form.computername(size=20) }}<input type="submit" value="Submit"></span></label>
    </div> 
    <div class='form-group'>
      <label for='username' class='col-sm-2 control-label'>User Name:{{ form.username(size=20) }}<input type="submit" value="Submit"></span></label>
    </div>
    <div class="row">
    <div class="form-group">
      <input type="submit" value="Submit" name="test">
    </div>
    </div>
  </form>
</div>
</div>
{% endblock %}
